In [31]:
import pandas as pd

In [32]:
colleges = pd.read_csv('data/cleaned/geo/college_locations.csv')
colleges.head()

     state        city                          college        country
0  alabama  huntsville           alabama a&m university  united states
1  alabama  montgomery         alabama state university  united states
2  alabama      athens          athens state university  united states
3  alabama      auburn                auburn university  united states
4  alabama  montgomery  auburn university at montgomery  united states

In [33]:
lat_longs = pd.read_csv('data/cleaned/geo/worldcities.csv')
lat_longs.head()

        city    country      lat       lng
0      tokyo      japan  35.6897  139.6922
1    jakarta  indonesia  -6.1750  106.8275
2      delhi      india  28.6100   77.2300
3  guangzhou      china  23.1300  113.2600
4     mumbai      india  19.0761   72.8775

In [34]:
# filter out any lat_longs that are not in the US
lat_longs = lat_longs[lat_longs['country'] == 'united states']

In [35]:
print(colleges.size)
print(lat_longs.size)

7792
21572

In [36]:
# join colleges and lat_longs on city and state
joined = colleges.merge(lat_longs, how='inner', on=['city', 'country'])
joined.head()

,state,city,college,country,lat,lng
0,alabama,huntsville,alabama a&m university,united states,34.6981,-86.6412
1,alabama,huntsville,alabama a&m university,united states,30.7009,-95.5567
2,alabama,huntsville,university of alabama in huntsville,united states,34.6981,-86.6412
3,alabama,huntsville,university of alabama in huntsville,united states,30.7009,-95.5567
4,tennessee,huntsville,tennessee college of applied technology-oneida...,united states,34.6981,-86.6412

In [37]:
print(joined.size)

20304

In [38]:
joined.to_csv('data/joined/geo/college_locations_with_lat_longs.csv', index=False)